AdvanceToDoList/AdvanceToDoListClient/Connected Services/ToDoService/ToDoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToDoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IToDoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ToDo/ToDo?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/ToDo/ToDo?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/ToDo/ToDo?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdvanceToDoList" />
      <xsd:import schemaLocation="http://localhost:8000/ToDo/ToDo?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToDoService_GetToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_SaveToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_SaveToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_UpdateToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_UpdateToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetAllToDos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllToDos" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetAllToDos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllToDosResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetAllToDosGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllToDosGrid" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetAllToDosGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllToDosGridResponse" />
  </wsdl:message>
  <wsdl:portType name="IToDoService">
    <wsdl:operation name="GetToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetToDo" message="tns:IToDoService_GetToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetToDoResponse" message="tns:IToDoService_GetToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/SaveToDo" message="tns:IToDoService_SaveToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/SaveToDoResponse" message="tns:IToDoService_SaveToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/UpdateToDo" message="tns:IToDoService_UpdateToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/UpdateToDoResponse" message="tns:IToDoService_UpdateToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/DeleteToDo" message="tns:IToDoService_DeleteToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/DeleteToDoResponse" message="tns:IToDoService_DeleteToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllToDos">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetAllToDos" message="tns:IToDoService_GetAllToDos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetAllToDosResponse" message="tns:IToDoService_GetAllToDos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllToDosGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetAllToDosGrid" message="tns:IToDoService_GetAllToDosGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetAllToDosGridResponse" message="tns:IToDoService_GetAllToDosGrid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IToDoService" type="tns:IToDoService">
    <wsp:PolicyReference URI="#NetTcpBinding_IToDoService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetToDo">
      <soap12:operation soapAction="http://tempuri.org/IToDoService/GetToDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveToDo">
      <soap12:operation soapAction="http://tempuri.org/IToDoService/SaveToDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToDo">
      <soap12:operation soapAction="http://tempuri.org/IToDoService/UpdateToDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <soap12:operation soapAction="http://tempuri.org/IToDoService/DeleteToDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllToDos">
      <soap12:operation soapAction="http://tempuri.org/IToDoService/GetAllToDos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllToDosGrid">
      <soap12:operation soapAction="http://tempuri.org/IToDoService/GetAllToDosGrid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IToDoService" type="tns:IToDoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/SaveToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/UpdateToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/DeleteToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllToDos">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetAllToDos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllToDosGrid">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetAllToDosGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToDoService">
    <wsdl:port name="NetTcpBinding_IToDoService" binding="tns:NetTcpBinding_IToDoService">
      <soap12:address location="net.tcp://localhost:8010/ToDo/ToDo/ToDoService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8010/ToDo/ToDo/ToDoService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-KCGM2G58\YASH SHAH</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IToDoService" binding="tns:BasicHttpBinding_IToDoService">
      <soap:address location="http://localhost:8000/ToDo/ToDo/ToDoService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>